$primary-font: "Poppins";
$color1: rgb(76, 84, 0);
$color2: rgba(74, 75, 72, 0.647);
$color3: rgb(234, 234, 234);
$color4: rgb(220, 227, 122);
$color5: rgb(117, 14, 158);
$card-bg-image: url("../img/bg.jpg");
$colors: (youtube: red, instagram: green, facebook: blue);